#wrapper{
    width:1024px; 
    margin:0 auto;
   }
   #header h1{
     text-align: center;
   }
     nav.navbar {
     display: block;
     margin-bottom: 10px;
   }
   nav.navbar  ul {
     list-style: none;
     font-size: 14px; 
     text-align: center;
   }
   nav.navbar  ul li {
     display: inline-block;
   }
   nav.navbar  ul li a {
     display: block;
     float: left;
     padding: 3px 6px;
     color: #575c7d;
     font-size:22px;
     text-decoration: none;
     font-weight: bold;
   }
   nav.navbar  ul li a:hover {
     background: #ccc;
     color: #fff;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     padding: 3px 6px;
     margin: 0;
     text-decoration: none;
   }

   #content {
    display: block;
    clear: both;
    margin-bottom: 20px;
    min-height: 500px;
  }
  
  #left-sidebar {
    width: 35%;
    float: left;
    margin: 0 15px;
    background: #ccc; 
    min-height: 500px; 
    text-align: center;
  }
  #right {
    float: right;
    width: 62%;
    background: #efefef; 
    text-align: center;
    min-height: 500px;
  }
  footer{text-align: center;}